{% extends 'base.html' %}
{% block title %}
    Welcome to the Home Page
{% endblock title %}
{% block body %}
<div class="container-fluid   pink  p-5 mb-5 about-us-hero"  >
    <div class="row align-items-center">

        <!-- Left Side: Hero Text + CTA -->
        <div class="col-md-4 hero-image-container">
            <img src="https://media.istockphoto.com/id/1462119292/photo/happy-with-her-skincare-routine-woman-in-her-20s-applies-beauty-cream-on-her-face.jpg?s=1024x1024&w=is&k=20&c=G_xmWjxF8z0CYia6PO8cSwaUp1g8eVG_jPghhOVV6cE=" alt="Hero Image" class="img-fluid">
          </div>
        <div class="col-md-4 text-center ">
        <h1 class="mb-4  text-wrap">About us </h1>
      </div>
  
      <!-- Right Side: Hero Image -->
      <div class="col-md-4 hero-image-container">
        <img src="https://media.istockphoto.com/id/1462119292/photo/happy-with-her-skincare-routine-woman-in-her-20s-applies-beauty-cream-on-her-face.jpg?s=1024x1024&w=is&k=20&c=G_xmWjxF8z0CYia6PO8cSwaUp1g8eVG_jPghhOVV6cE=" alt="Hero Image" class="img-fluid">
      </div>
    </div>
</div>
<div class="container text-center p-5 my-5">
    <div class="col-12">
        <h1 class="prata">
            We stay at the forefront of AI innovation to deliver skincare solutions that make a real difference in people’s lives today, while shaping the future of personalized skin health.
        </h1>
    </div>
</div>


<div class="container section">
    <h1>
        Our Philosophy
    </h1>
    <div class="row my-3 mx-1" >
        <div class="col-9">
            <p class="section-text fs-3">
                At DermaIQ, we believe in redefining skincare through the power of intelligent innovation. We stay at the forefront of AI and dermatological science to create solutions that don't just treat skin — they understand it. By blending advanced technology with deep skin insights, we deliver personalized, effective, and data-driven skincare that makes a real, lasting difference in people's lives.
We're not just transforming skin health for today we're shaping the future of personalized wellness, confidence, and care.
            </p>
        </div>
        <div class="col-3">
            <img src="https://media.istockphoto.com/id/1462119292/photo/happy-with-her-skincare-routine-woman-in-her-20s-applies-beauty-cream-on-her-face.jpg?s=1024x1024&w=is&k=20&c=G_xmWjxF8z0CYia6PO8cSwaUp1g8eVG_jPghhOVV6cE=" alt="Hero Image" class="img-fluid">
        </div>
    </div>
</div>


<div class="container section">

    <h2 class="text-center mb-5 section-heading-2">✨Our Core Values✨</h2>
    <p class="section-text fs-3 text-center mb-5">
        At  <strong>DermaIQ</strong>, we are committed to using the power of innovation to transform skincare experiences, guided by three core values that inspire everything we do:
    </p>

    <div class="container mt-5">
        <div class="row justify-content-around text-center">
          <div class="col-3 green section py-3 prata">
            <h3 class="text-center prata fw-bold mb-3">
                Innvoation
            </h3>
            <p class="text-center prata fs-4 px-4 ">
                We lead the future of skincare by embracing cutting-edge AI and smart technologies to deliver personalized, meaningful solutions for every individual
            </p>
          </div>
          <div class="col-3 green section py-3 px-4">
            <h3 class="text-center prata fw-bold mb-3">
                Excellence
            </h3>
            <p class="text-center prata fs-4 px-4">
                We hold ourselves to the highest standards, ensuring that every scan, every recommendation, and every user experience exceeds expectations with precision and care
            </p>

          </div>
          <div class="col-3 green section py-3 px-4 ">
            <h3 class="text-center prata fw-bold mb-3">
                Integrity
            </h3>
            <p class="text-center prata fs-4 px-4">
                We lead the future of skincare by embracing cutting-edge AI and smart technologies to deliver personalized, meaningful solutions for every individual
            </p>
  

          </div>
        </div>
      </div>
</div>


{% endblock body %}