{% extends 'base.html' %}
{% block title %}
  Login
{% endblock %}
{% block body %}
{% load static %}



<div class="container section green 5 p-5 auth-section">
  <h1 class="text-center auth-heading mb-5">
Login
  </h1>
  <div class="container section py-5 px-5 bg-white">
    <div class="row">
      <div class="col-7 px-5">
        <form  method="post">
          {% csrf_token %}
      
          <div class="form-outline mb-4 ">
            <div class="mb-4">
              <label class="auth-form-heading fw-bolder" for="form3Example3">Username</label>

            </div>
            <input type="text" id="form3Example3" name="username" class="form-control form-control-lg"
              placeholder="Enter your username" name="username" />
          </div>
      
          <!-- Password input -->
          <div class="form-outline mb-3">
            <div class="mb-4">
              <label class="auth-form-heading fw-bolder" for="form3Example3">Password</label>

            </div>
            <input type="password" id="form3Example4" name="pass" class="form-control form-control-lg"
              placeholder="Enter password" name="pass"/>
          </div>
      
      
      
          <div class="text-center text-lg-start mt-4 pt-2">
            <button  type="submit" class="auth-btn btn px-4 fw-bolder green">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0 text-black">Don't have an account? <a href="/signup"
                class="link-danger">Register</a></p>
          </div>
      
        </form>
      </div>
      <div class="col-5 d-md-none d-lg-block">
        <img src="{% static 'assets\login.png' %}" class="img-fluid" alt="" srcset="">
      </div>
    </div>


  </div>

</div>
      
{% endblock  %}